<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src='{% static 'lib/jquery/dist/jquery.js' %}'></script>
    <title>Fandoms</title>
</head>
<body>
{% include "sub_elements/header.html" %}
<div><p> Profile of {{ author.nickname }}</p></div>
{% if fanfics_list %}
<ul>
    {% for fic in fandoms_list %}
    <li><a href="{% url 'fics:fanfic_page' fanfic.id %}">{{fic.title}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p> The author doesn't have any works published yet.</p>
{% endif %}
{% include "sub_elements/footer.html" %}
</body>
</html>