<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src='{% static 'lib/jquery/dist/jquery.js' %}'></script>
    <script src="{% static 'lib/jquery/dist/jquery-ui.js' %}" ></script>
    <script>
        const on_fandoms_load = function (data, status) {
            console.log(data);
            $( "#fandom" ).autocomplete({
              source: data
            });
        };

        const on_fandoms_load_error = function (xhr) {
            console.log("Error loading the autocomplete");
        };

        $(document).ready(function() {
          $.ajax({
              type: "GET",
              url: "api/fandom/index",
              dataType: "json",
              success: on_fandoms_load,
              error: on_fandoms_load_error,
              timeout: 1000
          });
        });
    </script>
    <title>Додати фанфік</title>
</head>
<body>
{% include "sub_elements/header.html" %}
<div><p>Створити новий фанфік</p></div>
<label for="title">Назва фанфіку</label><input type="text" id="title" placeholder="Title"><br/><br/>
<label for="fandom">Фандом</label><input id="fandom" placeholder="Fandom"><br/><br/>
<label for="annotation">Аннотація</label><textarea id="annotation" name="annotation" cols="100" rows="10"></textarea>
<p style="color: #6b90b2">Ви зможете додавати нові глави після створення фанфіку.</p>
<input type="submit" id="submit-fic">
{% include "sub_elements/footer.html" %}
</body>
</html>