<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src='{% static 'lib/jquery/dist/jquery.js' %}'></script>
    <script src="{% static 'scripts/header_footer.js' %}"></script>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<div id="header"></div>
{% if authors_list %}
<ul>
    {% for author in authors_list %}
    <li><a href="{% url 'fics:author_page' author.id %}">{{author.nickname}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p> No authors are registered yet.</p>
{% endif %}
<div id="footer"></div>
</body>
</html>
