<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src='{% static 'lib/jquery/dist/jquery.js' %}'></script>
    <script src="{% static 'scripts/header_footer.js' %}"></script>
    <title>Fandoms</title>
</head>
<body>
<div id="header"></div>
{% if fandoms_list %}
<ul>
    {% for author in fandoms_list %}
    <li><a href="">{{fandom.name}}</a></li>
    {% endfor %}
</ul>
{% else %}
<p> No fandoms are known yet.</p>
{% endif %}
<div id="footer"></div>
</body>
</html>