<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src='{% static 'lib/jquery/dist/jquery.js' %}'></script>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
{% include "sub_elements/header.html" %}
<ul>
    <li><a href="{% url 'fics:authors_list' %}">Authors</a> </li>
    <li><a href="{% url 'fics:fandoms_list' %}">Fandoms</a> </li>
</ul>
{% include "sub_elements/footer.html" %}
</body>
</html>
