{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
<div id="header">
    <a href="{% url 'fics:index' %}" style="text-decoration: none"><h1>Фанфікшн українською</h1></a>

    {% if logged_in %}

        <p>Welcome! You are logged in as <b>{{ username }}</b>.</p>
        {% if author_id %}
            <!-- It is possible to be logged in but to be not an author - e.g., you're logged as an admin. -->
            <p><a href="{%  url 'fics:author_page' author_id %}">Your profile</a></p>
        {%  endif %}
        <p><a href="{% url 'fics:logout' %}">Logout</a></p>

    {% else %}

        <form action="{% url 'fics:authorize' %}" method="post">
        {% csrf_token %}
        <label for="login">Login:</label>
        <input type="text" id="login" name="login">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Enter">
        </form>
        <p><a href="{{ google_url }}">Authorize</a> via Google</p>
        <p><a href="{% url 'fics:registration_page' %}">Create an account</a></p>

    {% endif %}
</div>

